<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-ite active">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733363101/file_40_elftli.jpg"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>REMODELACIÓN ZONA BBQ</h2>
        </div>
        <div class="cards-description-container">
            <p>En el campamento de AES Colombia, realizamos el mantenimiento y remodelación de la zona BBQ,
                proporcionando un espacio funcional y cómodo para los trabajadores y sus familias. El proyecto incluyó la renovación de
                instalaciones y la mejora de áreas comunes, contribuyendo al bienestar de los colaboradores en el sitio.
                Esta obra refleja nuestro enfoque en la mejora continua de los espacios laborales y recreativos en
                proyectos industriales.</p>
        </div>
    </article>
    <article class="galery-container">
        <div class="carousel-container">
            <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
                data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
                aria-label="Imágenes destacadas">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1734404278/file_95_kwttta.jpg"
                            class="d-block w-100" alt="Lo1">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="fa-solid fa-circle-chevron-left fa-2x" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="fa-solid fa-circle-chevron-right fa-2x" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="info-project-container">
            <div class="cards-title-container">
                <h2>DETALLES</h2>
            </div>
            <div class="companyInfo">
                <div class="companyInfoIconsContainer">
                    <div class="iconItem">
                        <i class="fa-solid fa-route fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-solid fa-id-card fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-solid fa-map-location-dot fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-regular fa-calendar-check fa-3x" style="color: #11ff00;"></i>
                    </div>
                </div>
                <div class="companyInfoLinksContainer">
                    <div class="linkItem">
                        <a>Obras civiles, cimentación y remodelación de edificaciones.</a>
                    </div>
                    <div class="linkItem">
                        <a>AES Colombia</a>
                    </div>
                    <div class="linkItem">
                        <a>Campamento AES Colombia</a>
                    </div>
                    <div class="linkItem">
                        <a>2019</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>