<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dkmvcyh3y/image/upload/v1733250514/Topografia_y_suministros_t9stgj.png"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>Proyectos destacados</h2>
        </div>
        <div class="cards-description-container">
            <p>Servicios de topografía de alta precisión para proyectos de construcción e ingeniería. Suministramos
                materiales y equipos industriales de calidad para apoyar el desarrollo eficiente de obras civiles,
                infraestructura y proyectos industriales.</p>
        </div>
        <div class="cards-container">
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/topografia-suministros/batimetria']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733451743/file_62_h0xtqz.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Batimetría - Río Lengupá</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/topografia-suministros/catastro']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733453321/file_65_tnqlt2.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Catastro - Acueducto</p>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>