<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dkmvcyh3y/image/upload/v1733245055/Rehabilitacion_p8ku55.png"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>Proyectos destacados</h2>
        </div>
        <div class="cards-description-container">
            <p>Rehabilitación especializada de represas y túneles hidráulicos, garantizando la eficiencia y seguridad en
                las operaciones. Ofrecemos limpieza de sedimentos, reparación de soleras, instalación de válvulas y
                refuerzo estructural para prolongar la vida útil de la infraestructura.</p>
        </div>
        <div class="cards-container">
            <div class="card-container">
                <div class="image-proyect-container"
                    [routerLink]="['/proyectos/rehabilitacion-represas-y-tuneles/evacuacion-sedimentos-camara-de-valvulas']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733411952/file_51_lc4vap.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Evacuación de Sedimentos - Cámara de Válvulas</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container"
                    [routerLink]="['/proyectos/rehabilitacion-represas-y-tuneles/limpieza-sedimentos-tunjita-valle']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733412848/file_56_chy08f.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Limpieza de Sedimentos - PCH Tunjita</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container"
                    [routerLink]="['/proyectos/rehabilitacion-represas-y-tuneles/limpieza-sedimentos-tunjita-monte']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733412230/file_53_oc0zxo.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Limpieza de Sedimentos - Tunjita Monte</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container"
                    [routerLink]="['/proyectos/rehabilitacion-represas-y-tuneles/rehabilitacion-chivor-i']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733450890/file_58_ofwhgb.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Rehabilitación Túnel Chivor I</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container"
                    [routerLink]="['/proyectos/rehabilitacion-represas-y-tuneles/rehabilitacion-chivor-ii']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733451326/file_59_zwt6ow.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Rehabilitación Túnel Chivor II</p>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>