<section>
    <article class="add-general-container">
        <div class="add-title-container">
            <h1>AVISO LEGAL Y POLÍTICAS DEL SITIO WEB</h1>
        </div>
        <div class="add-container">
            <h2>INFORMACIÓN LEGAL</h2>
            <p>De conformidad con las disposiciones legales establecidas en la Ley 527 de 1999, la Ley 1581 de 2012, el
                Decreto 1377 de 2013, y demás normas aplicables en Colombia relacionadas con el comercio electrónico, la
                protección de datos personales y la propiedad intelectual, este aviso legal regula el uso y acceso al
                sitio web de VEGA Y ORTIZ S.A.S. (en adelante, el “Sitio Web”).<br /><br />
                El dominio y los contenidos de este sitio web son de titularidad exclusiva de VEGA Y ORTIZ S.A.S.,
                identificada con NIT 900.209.254-8, con domicilio principal en la ciudad de Santa María (Boyacá),
                Colombia, en la Calle 4 # 4-29. Para efectos de contacto, puede escribir al correo electrónico
                administracion&#64;vegayortiz.com.co o comunicarse al teléfono (+57) 310 350 9175.<br /><br />
                El acceso al Sitio Web implica la aceptación plena y sin reservas de las condiciones establecidas en el
                presente aviso legal, si el usuario no está de acuerdo con estas condiciones, deberá abstenerse de
                utilizar el Sitio Web.
            </p>
        </div>
        <div class="add-container">
            <h2>CONDICIONES DE USO</h2>
            <h3>
                Aceptación y uso responsable
            </h3>
            <p>
                Al acceder y navegar en el Sitio Web, el usuario asume el compromiso de utilizarlo de manera responsable
                y conforme a la legislación vigente en Colombia, los principios de buena fe, las buenas costumbres, y
                las disposiciones de este aviso legal. Queda expresamente prohibido cualquier uso ilícito, fraudulento o
                que pueda afectar los derechos e intereses de terceros o dañar los sistemas de VEGA Y ORTIZ S.A.S.
                <br /><br />
            </p>
            <h3>
                Propiedad Intelectual e Industrial
            </h3>
            <p>
                Todo el contenido, diseño gráfico, logotipos, marcas, textos, imágenes, videos, software y demás
                elementos que componen el Sitio Web son propiedad exclusiva de VEGA Y ORTIZ S.A.S., o de sus respectivos
                licenciantes, y están protegidos por las leyes nacionales e internacionales sobre propiedad intelectual
                e industrial.<br /><br />
                Queda prohibida la reproducción, distribución, comunicación pública, transformación o cualquier otra
                forma de uso no autorizado, total o parcial, de dichos contenidos, salvo que exista un consentimiento
                previo y por escrito de VEGA Y ORTIZ S.A.S. El uso no autorizado del contenido podrá dar lugar a las sanciones civiles y penales correspondientes,
                según lo previsto en la normativa aplicable.

            </p>
        </div>
        <div class="add-container">
            <h2>RESPONSABILIDADES Y GARANTÍAS</h2>
            <h3>Funcionamiento y acceso al Sitio Web</h3>
            <p>VEGA Y ORTIZ S.A.S. adopta medidas técnicas y organizativas razonables para garantizar el correcto
                funcionamiento del Sitio Web, así como la ausencia de virus u otros elementos dañinos. Sin embargo, no
                se garantiza la disponibilidad, continuidad o ausencia de errores en el funcionamiento del Sitio Web ni
                en sus contenidos.</p>
            <p>La empresa no será responsable de los daños o perjuicios derivados de:</p><br />
            <ul>
                <li>La interrupción del servicio por razones técnicas, mantenimiento o actualización.</li>
                <li>El uso indebido del Sitio Web por parte de los usuarios.</li>
                <li>La presencia de virus u otros elementos dañinos que afecten los sistemas del usuario, derivados de
                    su acceso al Sitio Web.</li>
            </ul>
            <h3>Enlaces a terceros</h3>
            <p>El Sitio Web puede contener enlaces a sitios externos que no son gestionados por VEGA Y ORTIZ S.A.S. La
                empresa no se responsabiliza por el contenido, disponibilidad o prácticas de privacidad de estos sitios.
                La inclusión de dichos enlaces no implica respaldo alguno.</p>
        </div>
        <div class="add-container">
            <h2>POLÍTICA DE PRIVACIDAD Y TRATAMIENTO DE DATOS PERSONALES</h2>
            <p>En cumplimiento de la Constitución Política de Colombia (Art. 15 y 20), la Ley 1581 de 2012 y el Decreto
                1377 de 2013, Vega y Ortiz S.A.S. informa que los datos personales recolectados a través del Sitio Web
                serán tratados de manera confidencial y utilizados exclusivamente para los fines establecidos. La
                empresa se compromete a garantizar la seguridad y privacidad de la información, evitando posibles
                adulteraciones, pérdidas, consultas, usos o accesos no autorizados, aplicando medidas adecuadas a los
                datos registrados en sus bases de datos.</p><br />
            <h3>Finalidades del tratamiento</h3><br />
            <ul>
                <li>Gestionar consultas, solicitudes o reclamos realizados por los usuarios.</li>
                <li>Facilitar información sobre productos y servicios ofrecidos por la empresa.</li>
                <li>Cumplir con obligaciones legales o contractuales inherentes a nuestras actividades.</li>
            </ul>
            <h3>Derechos del titular de los datos</h3>
            <p>El titular de los datos personales tiene derecho a ejercer los derechos de acceso, rectificación,
                cancelación y oposición (ARCO), conforme a lo dispuesto en la legislación vigente. Para ello, puede
                presentar su solicitud por escrito al correo electrónico administracion&#64;vegayortiz.com.co o en la dirección física
                Calle 4 # 4-29, Barrio Cundinamarca, Santa María.</p><br />
            <h3>Consentimiento y almacenamiento de datos</h3>
            <p>Al utilizar el Sitio Web, el usuario consiente el tratamiento de sus datos personales de acuerdo con los
                términos de esta política. Los datos serán almacenados únicamente durante el tiempo necesario para
                cumplir con las finalidades mencionadas o mientras exista una obligación legal de conservación.</p>


        </div>
        <div class="add-container">
            <h2>POLÍTICA DE COOKIES</h2>
            <p>El Sitio Web utiliza cookies propias y de terceros para mejorar la experiencia del usuario y analizar el
                tráfico web. Las cookies son pequeños archivos que se almacenan en el dispositivo del usuario. Al
                continuar navegando, el usuario consiente el uso de estas tecnologías.
                El usuario puede configurar su navegador para bloquear o eliminar cookies, aunque esto puede afectar la
                funcionalidad del Sitio Web.
            </p>
        </div>
        <div class="add-container">
            <h2>RESERVA DEL DERECHO A MODIFICACIONES</h2>
            <p>VEGA Y ORTIZ S.A.S. se reserva el derecho a actualizar o modificar este aviso legal en cualquier momento,
                para adaptarse a cambios normativos, tecnológicos o estratégicos. Dichas modificaciones serán publicadas
                en el Sitio Web con antelación razonable.</p>
        </div>
        <div class="add-container">
            <h2>LEGISLACIÓN Y JURISDICCIÓN APLICABLE</h2>
            <p>El presente aviso legal se rige por las leyes de la República de Colombia. En caso de controversia, las
                partes se someterán a la jurisdicción de los tribunales competentes en la ciudad de Bogotá, renunciando
                expresamente a cualquier otra jurisdicción que pudiera corresponderles.</p>
        </div>
        <div class="add-container">
            <p>Para más información, puede contactarnos en administracion&#64;vegayortiz.com.co o comunicarse al teléfono (+57) 310 350 9175.</p>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>