<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1731551088/file_10_yq0krz.jpg"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>Nuestros Servicios</h2>
        </div>
        <div class="cards-description-container">
            <p>Conoce los servicios que ofrecemos y cada uno de los proyectos que aportan valor a nuestro trabajo.</p>
        </div>
        <div class="cards-container">
            <div class="card-container">
                <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1732812695/file_21_qrp7cb.jpg" alt="getCurrentImage().imageTitle"
                    class="feature-image">
                <div class="image-overlay">
                    <h4>Obras civiles, cimentación y remodelación de edificaciones</h4>
                    <i class="fa-solid fa-eye" style="color: #ffffff;" [routerLink]="['/proyectos/obras-civiles']"></i>
                </div>
            </div>
            <div class="card-container">
                <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1732809763/file_16_ardheh.jpg" alt="getCurrentImage().imageTitle"
                    class="feature-image">
                <div class="image-overlay">
                    <h4>Mantenimientos locativos</h4>
                    <i class="fa-solid fa-eye" style="color: #ffffff;" [routerLink]="['/proyectos/mantenimientos-locativos']"></i>
                </div>
            </div>
            <div class="card-container">
                <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1732813246/file_3_dqyack.png" alt="getCurrentImage().imageTitle"
                    class="feature-image">
                <div class="image-overlay">
                    <h4>Rehabilitación de infraestructura en represas y sus túneles</h4>
                    <i class="fa-solid fa-eye" style="color: #ffffff;" [routerLink]="['/proyectos/rehabilitacion-represas']"></i>
                </div>
            </div>
            <div class="card-container">
                <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1732811042/file_18_ftboue.jpg" alt="getCurrentImage().imageTitle"
                    class="feature-image">
                <div class="image-overlay">
                    <h4>Servicios de topografía y suministros industriales</h4>
                    <i class="fa-solid fa-eye" style="color: #ffffff;" [routerLink]="['/proyectos/topografia-y-suministros']"></i>
                </div>
            </div>
            <div class="card-container">
                <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1732811624/file_19_aibdny.jpg" alt="getCurrentImage().imageTitle"
                    class="feature-image">
                <div class="image-overlay">
                    <h4>Mantenimiento a redes eléctricas, de ﬁbra óptica, equipos generadores de energía a Diésel y motores del sistema contra incendios</h4>
                    <i class="fa-solid fa-eye" style="color: #ffffff;" [routerLink]="['/proyectos/redes-y-equipos']"></i>
                </div>
            </div>
            <div class="card-container">
                <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1732812301/file_20_agtzi3.jpg" alt="getCurrentImage().imageTitle"
                    class="feature-image">
                <div class="image-overlay">
                    <h4>Logística para movilización y gestión de alquiler de equipos y maquinaria pesada</h4>
                    <i class="fa-solid fa-eye" style="color: #ffffff;" [routerLink]="['/proyectos/equipos-y-maquinaria']"></i>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>
