<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dkmvcyh3y/image/upload/v1733251420/Maquinaria_z2rrxs.png"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>Proyectos destacados</h2>
        </div>
        <div class="cards-description-container">
            <p>Servicios de logística eficiente para la movilización de equipos y gestión de alquiler de maquinaria
                pesada. Ofrecemos soluciones rápidas y seguras para proyectos de construcción, mantenimiento y atención
                de emergencias.</p>
        </div>
        <div class="cards-container">
            <div class="card-container">
                <div class="image-proyect-container"
                    [routerLink]="['/proyectos/equipos-maquinaria/alquiler-maquinaria-chivor']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733455003/file_74_fo9mcc.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Alquiler de Maquinaria CH CHivor I y II</p>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>