<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-ite active">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733454242/file_69_mzllr7.jpg"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>CENTRO DE ACOPIO - SACYR</h2>
        </div>
        <div class="cards-description-container">
            <p>Desarrollamos la construcción de un centro de acopio de residuos en el marco del megaproyecto Bocatomas.
                Este centro tiene como objetivo la gestión eficiente de residuos generados en el proyecto, asegurando el
                cumplimiento de las normativas medioambientales y contribuyendo a la gestión sostenible de los recursos
                en el sitio. La infraestructura fue diseñada con una capacidad adecuada para facilitar el
                almacenamiento, manejo y disposición final de los residuos.</p>
        </div>
    </article>
    <article class="galery-container">
        <div class="carousel-container">
            <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
                data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
                aria-label="Imágenes destacadas">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://res.cloudinary.com/dkmvcyh3y/image/upload/v1734403473/Acopio1_lziii4.png"
                            class="d-block w-100" alt="Lo1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dkmvcyh3y/image/upload/v1734403472/Acopio2_sryqdk.png"
                            class="d-block w-100" alt="Lo2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dkmvcyh3y/image/upload/v1734403472/Acopio3_bsm9y6.png"
                            class="d-block w-100" alt="Lo3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="fa-solid fa-circle-chevron-left fa-2x" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="fa-solid fa-circle-chevron-right fa-2x" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="info-project-container">
            <div class="cards-title-container">
                <h2>DETALLES</h2>
            </div>
            <div class="companyInfo">
                <div class="companyInfoIconsContainer">
                    <div class="iconItem">
                        <i class="fa-solid fa-route fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-solid fa-id-card fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-solid fa-map-location-dot fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-regular fa-calendar-check fa-3x" style="color: #11ff00;"></i>
                    </div>
                </div>
                <div class="companyInfoLinksContainer">
                    <div class="linkItem">
                        <a>Obras civiles, cimentación y remodelación de edificaciones.</a>
                    </div>
                    <div class="linkItem">
                        <a>Sacyr</a>
                    </div>
                    <div class="linkItem">
                        <a>Central Hidroeléctrica de Chivor</a>
                    </div>
                    <div class="linkItem">
                        <a>2019</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>