<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-ite active">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733455034/file_75_lxidpo.jpg"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>ALQUILER DE MAQUINARIA Y EQUIPOS CH CHIVOR I Y II</h2>
        </div>
        <div class="cards-description-container">
            <p>En este proyecto, ofrecemos alquiler de maquinaria pesada para la atención de la emergencia
                presentada en la Central Hidroeléctrica de Chivor 2024. La maquinaria proporcionada,
                incluyendo excavadoras, minidumpers, minicargadores, manlif, motobombas, entre otros; fue esencial para garantizar la rapidez y eficiencia en la
                histórica recuperación de infraestructura y operación de la Central Hidroeléctrica de Chivor.</p>
        </div>
    </article>
    <article class="galery-container">
        <div class="carousel-container">
            <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
                data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
                aria-label="Imágenes destacadas">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1734453292/file_-_2024-12-17T113311.761_tocylw.jpg"
                            class="d-block w-100" alt="Lo1">
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1734453291/file_-_2024-12-17T113235.936_rt11ma.jpg"
                            class="d-block w-100" alt="Lo2">
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1734453290/file_-_2024-12-17T113434.910_yrw1uo.jpg"
                            class="d-block w-100" alt="Lo3">
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1734453290/file_-_2024-12-17T112943.061_zqj8cc.jpg"
                            class="d-block w-100" alt="Lo4">
                    </div>
                    <div class="carousel-item">
                        <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1734453292/file_-_2024-12-17T113027.626_prez4f.jpg"
                            class="d-block w-100" alt="Lo5">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="fa-solid fa-circle-chevron-left fa-2x" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="fa-solid fa-circle-chevron-right fa-2x" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="info-project-container">
            <div class="cards-title-container">
                <h2>DETALLES</h2>
            </div>
            <div class="companyInfo">
                <div class="companyInfoIconsContainer">
                    <div class="iconItem">
                        <i class="fa-solid fa-route fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-solid fa-id-card fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-solid fa-map-location-dot fa-3x" style="color: #11ff00;"></i>
                    </div>
                    <div class="iconItem">
                        <i class="fa-regular fa-calendar-check fa-3x" style="color: #11ff00;"></i>
                    </div>
                </div>
                <div class="companyInfoLinksContainer">
                    <div class="linkItem">
                        <a>Logística para la movilización y alquiler de equipos y maquinaria pesada.</a>
                    </div>
                    <div class="linkItem">
                        <a>AES Colombia</a>
                    </div>
                    <div class="linkItem">
                        <a>Central Hidroeléctrica de Chivor</a>
                    </div>
                    <div class="linkItem">
                        <a>2024</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>