<section>
    <article class="image-container">
        <div id="carouselExampleIndicators" class="carousel slide" aria-live="polite" aria-atomic="true"
            data-bs-ride="carousel" data-bs-interval="2500" role="region" aria-roledescription="carousel"
            aria-label="Imágenes destacadas">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dkmvcyh3y/image/upload/v1733243276/Sin_t%C3%ADtulo_btoxqv.png"
                        class="d-block w-100" alt="Imagen de Servicios">
                </div>
            </div>
        </div>
    </article>
    <article class="cards-services-container">
        <div class="cards-title-container">
            <h2>Proyectos destacados</h2>
        </div>
        <div class="cards-description-container">
            <p>Ejecución de obras civiles de alta calidad, cimentaciones robustas y remodelación de edificaciones para
                mejorar su funcionalidad, seguridad y estética. Desarrollamos proyectos residenciales, comerciales e
                industriales, garantizando estructuras duraderas y adaptadas a las necesidades del cliente.</p>
        </div>
        <div class="cards-container">
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/obras-civiles/solera-rionegro']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733260488/file_26_a2uyn8.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Solera - Desviación Rionegro</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/obras-civiles/galeria-rionegro']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733260934/file_28_sb74i8.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Galería de Drenaje - Desviación Rionegro</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/obras-civiles/comedor-portatil']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733262291/file_31_nmtxdf.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Comedor Portatil - SACYR</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/obras-civiles/ampliacion-bodega-seca']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733262843/file_33_wynq2a.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Ampliacion Bodega Seca</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/obras-civiles/centro-de-acopio']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733263244/file_35_szo7mj.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Centro de Acopio - SACYR</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container" [routerLink]="['/proyectos/obras-civiles/remodelacion-zona-bbq']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733363211/file_41_q8zj4m.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Remodelación Zona BBQ</p>
                </div>
            </div>
            <div class="card-container">
                <div class="image-proyect-container"
                    [routerLink]="['/proyectos/obras-civiles/cerramientos-perimetrales-y-laminas-filtrantes']">
                    <img src="https://res.cloudinary.com/dyjf6o0iw/image/upload/v1733362873/file_39_qxnrvu.jpg"
                        alt="Project Image" class="feature-image">
                    <div class="image-overlay">
                        <i class="fa-solid fa-folder-closed" style="color: #7ADA00;"></i>
                        <p>Ver proyecto</p>
                    </div>
                </div>
                <div class="name-proyect-container">
                    <p>Cerramientos perimetrales y laminas filtrantes</p>
                </div>
            </div>
        </div>
    </article>
    <app-back-button></app-back-button>
</section>